@import "mixins";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
html {
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  @include sm() {
    max-width: 640px;
  }
  @include md() {
    max-width: 768px;
  }
  @include lg() {
    max-width: 1024px;
  }
  @include xl() {
    max-width: 1280px;
  }
}

// Position
.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
.sticky {
  position: sticky;
}
.absolute {
  position: absolute;
}
.inset-0 {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.top-0 {
  top: 0;
}
.bottom-0 {
  bottom: 0;
}
.left-0 {
  left: 0;
}
.right-0 {
  right: 0;
}
.bottom-4 {
  bottom: 2rem;
}
.right-4 {
  right: 2rem;
}

// Z-index
.z-10 {
  z-index: 10;
}
.z-20 {
  z-index: 20;
}

// Transform
.rotate-90 {
  transform: rotate(90deg);
}
.-rotate-90 {
  transform: rotate(-90deg);
}

// Object
.object-cover {
  object-fit: cover;
}
.object-center {
  object-position: center;
}
// Height
.min-h-screen {
  min-height: 100vh;
}
.h-0 {
  height: 0;
}
.h-4 {
  height: 1rem;
}
.h-10 {
  height: 2.5rem;
}
.h-full {
  height: 100%;
}

// Width
.w-4 {
  width: 1rem;
}
.w-full {
  width: 100%;
}
.max-w-xs {
  max-width: 20rem;
}

// Margins
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}
.mt-1 {
  margin-top: 0.5rem;
}
.mb-1 {
  margin-bottom: 0.5rem;
}
.mt-2 {
  margin-top: 1rem;
}
.mb-2 {
  margin-bottom: 1rem;
}
.mt-4 {
  margin-top: 2rem;
}
.mb-4 {
  margin-bottom: 2rem;
}
.mr-1 {
  margin-right: 0.5rem;
}
.ml-1 {
  margin-left: 0.5rem;
}
.mr-2 {
  margin-right: 1rem;
}
.ml-2 {
  margin-left: 1rem;
}

// Display
.flex {
  display: flex;
}
.inline-block {
  display: inline-block;
}
.grid {
  display: grid;
}

// Grid
.gap-2 {
  gap: 1rem;
}
.gap-4 {
  gap: 2rem;
}
@include sm() {
  .sm\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@include md() {
  .md\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

// Flex
.flex-col {
  flex-direction: column;
}
.flex-1 {
  flex: 1 1 0%;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.justify-end {
  justify-content: flex-end;
}
.items-center {
  align-items: center;
}

// Border
.border {
  border-width: 1px;
}
.border-bottom {
  border-bottom: 1px solid #000000;
}
.border-black {
  border-color: #000000;
}
.border-solid {
  border-style: solid;
}
.border-none {
  border: none;
}
.rounded-full {
  border-radius: 9999px;
}

// Aspec ratio
.aspect-ratio-4\/3 {
  padding-bottom: 75%;
}
.aspect-ratio-8\/5 {
  padding-bottom: 62.5%;
}
@include lg() {
  .lg\:aspect-ratio-16\/9 {
    padding-bottom: 56.25%;
  }
}

// Cursor
.pointer {
  cursor: pointer;
}

// Bg colors
.bg-transparent {
  background-color: transparent;
}
.bg-white {
  background-color: #ffffff;
}
.bg-black {
  background-color: #000000;
}
.bg-gray {
  background-color: #292929;
}
.bg-gray-200 {
  background-color: #f5f5f5;
}

// Shadow
.shadow {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

// Padding
.p-2 {
  padding: 1rem;
}
.px-2 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.py-2 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.px-4 {
  padding-left: 2rem;
  padding-right: 2rem;
}
.py-4 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

// Font size
.text-xs {
  font-size: 0.75rem;
}
.text-sm {
  font-size: 0.875rem;
}
.text-base {
  font-size: 1rem;
}
.text-lg {
  font-size: 1.125rem;
}
.text-xl {
  font-size: 1.25rem;
}
.text-2xl {
  font-size: 1.5rem;
}
.text-3xl {
  font-size: 1.875rem;
}
.text-4xl {
  font-size: 2.25rem;
}
.text-5xl {
  font-size: 3rem;
}

// Font color
.text-white {
  color: #ffffff;
}
.text-black {
  color: #000000;
}
.text-gray {
  color: #292929;
}

// Font weight
.font-bold {
  font-weight: 700;
}

// Text transform
.uppercase {
  text-transform: uppercase;
}

// Text align
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

// Text highlight
.text-highlight {
  display: inline;
  background-color: #ffffff;
  padding: 0 0.3rem;
  line-height: 1.56;
  box-decoration-break: clone;
}
